@font-face {
  font-family: "segoe-m";
  src: url(./fonts/Segoe-UI.ttf);
}

@font-face {
  font-family: "segoe-b";
  src: url(./fonts/Segoe-UI-Bold.ttf);
}

:root {
  --main-color: #003580;
  --text-sec-color: #003580;
}

body{
  overflow-x: hidden;
}

.border-color {
  border-color: #febb02;
}

.font-b {
  font-family: "segoe-b";
}

.text-sec {
  color: var(--text-sec-color);
}

.bg-main {
  background-color: var(--main-color);
}

* {
  transition: all 0.15s;
  font-family: "segoe-m";
}

.border-1 {
  border-width: 1px;
}

.border-b-1 {
  border-bottom-width: 1px;
}

nav {
  border-bottom-color: #b2b0b093;
}

.bg-hover:hover {
  background-color: rgba(240, 248, 255, 0.246);
}

input[type="checkbox"] {
  width: 17px;
  height: 17px;
}


.btn-bg {
  background-color: #0071c2 !important;
}

.btn-bg:hover {
  background-color: #00487a !important;
}

.h-1px {
  height: 1px;
}

.detailsBtn {
  background-color: #0071c2;
  padding: 10px;
  color: #fff;
  border-radius: 4px;
}

@media (min-width: 320px) {
  .f-size-r {
    font-size: 7px;
  }
  .header-title {
    width: 100%;
  }
  .mtC{
    margin-top: 450px;
  }
  .btn-f-e{
    padding: 0 1px;
  }
}
@media (min-width: 481px) {
  .f-size-r {
    font-size: 10px;
  }
}
@media (min-width: 641px) {
  #header-ch,
  .header-title {
    width: 760px;
  }
  .f-size-r {
    font-size: 14px;
  }
}
@media (min-width: 961px) {
  #header-ch,
  .header-title {
    width: 1052px;
  }
  .f-size-r {
    font-size: 13px;
  }
}
@media (min-width: 1025px) {
}
@media (min-width: 1281px) {
}
